.menu{
   display: flex;
   list-style: none;
   justify-content: center;
   background: linear-gradient(to right, #ACCECC 0%, #093a5a 61%, #73ADC5 100%);
}
.link{
   font-family: ui-rounded;
   text-decoration: none;
   color: #ffffff;
   display: inline-block;
   font-size: 24px;
   font-weight: 700;
   padding: 10px 15px;
}
.link:global(.active){              
   color: #bde2ff;
   transform: scale(1.4);
}

/* .link:global(.active){              Селектор глобального класу добавляє клас 
   color: rgb(131, 115, 115); 
} */